# imports functions
#importFrom(base,mean)
#importFrom(stats,sd)
#import(boot)

# functions
export(cvar) 
export(eta2) 
export(panel.hist) 
export(poi.ci) 
export(binom.ci) 
export(plotcdf2) 
 

## S3 methods for generics in base
#S3method("print", "plsRmodel")
